.Tile {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid darkred;
    background-color: firebrick;
    color: mintcream;
}
.TileZero {
    background-color: black;
    color: black
}
/* .Tile:hover {
    background-color: orangered;
} */
.Tile:active {
    background-color: darkred;
    color: darkred;
}

@media (min-width: 1000px) {
    .Tile:hover {
        background-color: orangered;
    }
}
