.Modal {
    z-index: 2;
    position: fixed;
    width: 60%;
    height: 200px;
    left: 20%;
    top: 50%;
    margin: 0 auto;
    margin-top: -150px;
    background-color: blue;
    transition: all 0.3s ease-out;
}
.button {
    margin-left: 95%;
    width: 2em;
    height: 2em;
    margin-top: 1%;
}