.SideBar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    padding-top: 4rem;
    width: 15vw;
    height: 100vh;
    max-width: 7rem;
    background-color: firebrick;
}

@media (max-width: 50rem) {
    .SideBar {
        display: flex;
        top: 50%;
        left: -100%;
        transform: translateY(-50%);
        /* transform: translateX(-100%); */
        transition: all 0.2s ease-out;
        width: 50%;
        height: auto;
        justify-content: space-evenly;
        z-index: 2;
        padding: 0;
        max-width: 10rem;
        padding-top: 1rem;
    }
}
.open {
    left: 0;
}

.button-list {
    list-style: none;
    padding: 0;
    width: 80%;
}
/* 
.open .button-list {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.open .button {
    margin: 0;
}
.open li {
    width: 100%;
} */
.button {
    margin-bottom: 1rem;
    font-family: 'Exo', sans-serif;
    background-color: firebrick;
    border: 1px solid black;
    color: mintcream;
    width: 100%;
}
.button:active {
    background-color: darkred;
}
.button:disabled {
    background-color: darkred;
    color: darkgrey;
}



