* {
    box-sizing: border-box;
}

.mainContainer {
    z-index: 0;
    display: flex;
    flex-direction: row;
    background-color: navy;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.sideButton {
    display: none;
}

/* Disable number input field spinner */

input[type=number] {
    -moz-appearance: textfield;
  }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media (max-width: 50rem) {
    .sideButton {
        font-family: 'Exo', sans-serif;
        background-color: firebrick;
        border: 1px solid black;
        color: mintcream;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 0;
        top: calc(50% - 0.65rem);
        height: 1.3rem;
        width: 1.3rem;
        text-align: center;
        padding: 0;
        z-index: 0;
    }
}
